h1 {
  color: blue;
  font-family: 'Poppins', Arial, sans-serif;
  text-align: center;
}

@font-face {
font-family: "Poppins";
src: url("fonts/Poppins.eot");
src:
url("css/fonts/Poppins.woff") format("woff"),
url("css/fonts/Poppins.otf") format("opentype"),
url("css/fonts/Poppins.svg#filename") format("svg");
}
